html, body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Header */

#main_nav {
    background-color: white;
     -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}
#main_nav .navbar-brand {
    color: #4286f4;
}
#main_nav .link {
    color: ;
}
.jumbotron {
     margin-bottom: 0;
     top:0;
     left:0;
}
#info_jumbotron {
     background: url("assets/nyc_background8.jpg") no-repeat center bottom;
     height: 750px;
     background-attachment: fixed;
     background-size: cover;
     overflow: hidden;
     position:relative;
     top:0;
     left:0;*/
     background-color: white;
     
}

 #info_jumbotron:before{
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background-color: rgba(0, 83, 255, 0.65);
     opacity: 0.6;
}
#info_text {
    color: white;
    position: relative;
}
.lead {
     line-height: 1.5em;
     letter-spacing: .1em;
     font-size: 1.5em;
}
#info_text h1 {
    font-size: 5em;
}
.link {
    margin-right: 30px;
}
#main_jumbotron .display-4 i {
        font-size: 40px;
}
#main_jumbotron {
    background-color: white;
}
#main_jumbotron .container h1 {
    color: #1d4587;
}
#main_jumbotron ul li {
    font-size: 1.5em;
    margin-bottom: 1%;
}
.jumbotron a {
    color: #1d4587;
}
#footer_jumbotron {
    background-color: #1d4587;
    height: 250px;
}

@media (min-device-width : 200px) and (max-device-width : 800px) {
    html, body {
        font-size: 12px;
    }
    #info_jumbotron {
        height: 400px;
        font-size: 7px;
        background-attachment: inherit;
    }
    #main_nav img {
        height: 40px;
        width: 110px;
    }
    #main_jumbotron .display-4, #main_jumbotron .display-4 i {
        font-size: 20px;
    }
}


