html, body {
    font-family: 'Source Sans Pro','Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.link {
    color: white !important;
}

.link:hover {
    color: black !important;
}

.black {
    color: black !important;
}

/* Header */

.jumbotron {
     margin-bottom: 0;
     top:0;
     left:0;
}

.navbar {
    border: 0;
    letter-spacing: 4px;
    height: 80px;
    background-color: transparent;
}
  
.navbar-brand img {
    height: 65px;
    width: 125px;
    margin: 10px;
}

.navbar .link {
    margin-right: 3px;
}

h1 {
    font-family: 'Fjalla One';
}
        
h3, h4 {
    font-family: 'Droid Sans';
}

/* Top Carousel */

#topCarousel {
    color: white;
    font-family: 'Droid Sans';
}

/* First Jumbotron */
        
#firstJumbotron {
     background: url("/assets/backgrounds/cambodia.png") no-repeat center top;
     background-attachment: fixed;
     min-height: 100vh;
     background-size: cover;
     overflow: hidden;
     position:relative;
     top:0;
     left:0;
}

#tagline1, #topCarousel {
    display: none;
}

#firstJumbotron h1 {
    font-family: 'Abril Fatface';
    font-size: 5.5em;
    margin-top: 8%;
    color: white;
}
        
#firstJumbotron h3 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#firstJumbotron h3 span {
    /*background-color: black;*/
}
        
#secondJumbotron {
    /*background: url("/assets/backgrounds/background1.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: cover;*/
    height: 50vh;
    overflow: hidden;
    position:relative;
    top:0;
    left:0;
    background: #1e1e1e;
}

#secondJumbotronCenterDiv {
    color: white;
    width: 100%;
    margin: auto;
    padding: 1%;
}

#secondJumbotronCenterDiv a {
    font-size: 1.2em;
    margin-top: 3%;
    height: 9vh;
    width: 23%;
    background-color: #00aeef;
    border: #00aeef;
}

#secondJumbotronCenterDiv a:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 73%);
    border: rgb(2,0,36);
}

#secondJumbotronCenterDiv h3 {
    text-align: center;
    font-size: 2.5em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#secondJumbotronCenterDiv .display-4 {
    line-height:1.2em;
    font-family: 'Droid Sans';
    font-weight: 400;
    font-size: 2.5em;
}

#thirdJumbotron {
    /*background-color: #00ffce;*/
    background-color: #9be9de;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}

#thirdJumbotron img {
    height: 250px;
    width: 250px;
}

#thirdJumbotron h1 {
    color: #2f72a8;
    font-size: 5.5em;
}

#thirdJumbotron .lead {
    line-height: 1.5em;
    font-size: 1.5em;
    font-family: 'Fjalla One';
    
}

#thirdJumbotron img {
    width: 450px;
    height: 425px;
}

#thirdJumbotron h3 {
    color: white;
}
        
#buttons .btn {
    font-family: 'Droid Sans';
    font-size: 1.3em;
    border-radius: 50px;
    background-color: white;
    border: 2px solid white;
    color: #2f55a8;
    padding: 10px 25px;
    font-weight: bold;
}

#buttons .btn:hover {
    border: 2px solid black;
}

#fourthJumbotron h1 {
    color: #234c8e;
    font-size: 4.5em;
}

#fourthJumbotron h3 {
    color: #234c8e;
    font-family: 'Fjalla One';
    font-size: 2.2em;
}

#fourthJumbotron img {
    width: 300px;
    height: 300px;
}

#fifthJumbotron {
    background-color: #214c70;
}

#fifthJumbotron h4 {
    color: white;
    font-weight: bold;
}

#fifthJumbotron h1 {
    color: white;
    font-weight: bold;
    font-size: 4.5em;
}

#fifthJumbotron .card {
    width: 30vw;
    margin-right: 0;
    border: none;
    background-color: transparent;
    text-align: center;
}

#fifthJumbotron .card .card-img-top {
    height: 400px;
    transition: all 0.5s ease;
    cursor:pointer;
}

#fifthJumbotron .card .card-img-top:hover {
    opacity: 0.8;
}

#fifthJumbotron .card .card-body {
    color: white;
    font-size: 1em;
}

#fifthJumbotron .btn {
    background-color: #294a60;
    border-color: #294a60;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
}

#fifthJumbotron .btn:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

#resources p {
    font-size: 1.8em;
}

#resources h1 {
    color: #2f55a8;
}

#resources ul li {
    font-size: 1.5em;
    margin-bottom: 5px;
}

#footer {
    height: 700px;
    background-color: white;
}

#footer p {
    font-size: 2em;
}

#bottomFooter {
    background-color: #1e1e1e;;
}

#getintouch {
    font-size: 30px;
    color:white;
    font-weight: bolder;
    width: 100%;
    text-align: center
}

#copyright {
    font-size: 16px;
    color: white;
    text-align: center
}

#emailusbtn {
    color:white;
    background-color: #00aeef;
    border: #00aeef;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder
}

@media (min-device-width : 200px) and (max-device-width : 767px) {
    html, body {
        font-size: 12px;
    }
    .navbar {
        margin-bottom: 0;
        border: 0;
        background-color: white;
    }  
    .navbar-brand img {
        height: 55px;
        width: 105px;
    }
    .jumbotron {
        font-size: 7px;
    }
    .display-4 {
        font-size: 14px;
    }
    #thirdJumbotron img {
        height: 300px;
        width: 200px;
    }
    #fourthJumbotron img {
        height: 150px;
        width: 150px;
    }
    #fifthJumbotron .card {
        width: 150px;
    }
    #fifthJumbotron .card .card-img-top {
        height: 200px;
    }
    #fifthJumbotron .btn {
        width: 65px;
        font-size: 8px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
    #bottomFooter {
        font-size: 12px;
    }
}