html, body {
    font-family: Century, Gotham-Book;
    max-width: 100%;
    overflow-x: hidden;
}

a, a:visited, a:hover {
    text-decoration: none;
}


.link {
    color: white !important;
}

.link:hover {
    color: black !important;
}

.black {
    color: black !important;
}

/* Header */

.jumbotron {
     margin-bottom: 0;
     top:0;
     left:0;
}

#main_nav {
    height: 12vh;
    transition: all 0.4s ease;
    border: 0;
    letter-spacing: 4px;
    background-color: transparent;
    font-family: 'Source Sans Pro';
}

#main_nav.sticky {
    height: 8vh;
    background-color: white;
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main_nav.sticky img {
    height: 50px;
    width: 100px;
}

#main_nav.sticky a {
    color: black !important;
}

#main_nav img {
    height: 65px;
    width: 125px;
    margin: 10px;
}

.navbar .link {
    margin-right: 3px;
}

/* First Jumbotron */
        
#firstJumbotron {
     background: url("/assets/backgrounds/cambodia.png") no-repeat center top;
     background-attachment: fixed;
     min-height: 100vh;
     background-size: cover;
     overflow: hidden;
     position:relative;
     top:0;
     left:0;
}

#tagline1, #topCarousel {
    display: none;
}

#firstJumbotron h1 {
    font-family: ;
    font-size: 5.5em;
    margin-top: 8%;
    color: white;
}
        
#firstJumbotron h3 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#firstJumbotron h3 span {
    /*background-color: black;*/
}
        
#secondJumbotron {
    /*background: url("/assets/backgrounds/background1.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: cover;*/
    overflow: hidden;
    position:relative;
    top:0;
    left:0;
    /*background: #1e1e1e;
    background: rgb(251,251,251);
    background: linear-gradient(90deg, rgba(251,251,251,1) 0%, rgba(86,168,255,1) 41%, rgba(69,243,252,1) 100%);*/
    background: white;
}

#particles {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

#secondJumbotronCenterDiv {
    position: relative;
    color: black;
    width: 70%;
    margin: auto;
    height: 45vh;
}

#secondJumbotronCenterDiv a {
    transition: all 0.3s ease;
    font-size: 1.2em;
    margin-top: 3%;
    height: 9vh;
    width: 40%;
    background: #00aeef;
    border: #00aeef;
}

#secondJumbotronCenterDiv a:hover {
    transition: all 0.3s ease;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 73%);
    border: rgb(2,0,36);
}

#secondJumbotronCenterDiv h3 {
    text-align: center;
    font-size: 1em; 
    letter-spacing: 1px;
    line-height: 1.4;
}

#secondJumbotronCenterDiv h1, #sectondJumbotronCenterDiv h3 {
    font-family: ;
    font-size: 1.5em;
}

#secondJumbotronCenterDiv .display-4 {
    line-height:1.2em;
    font-family: ;
    font-weight: 400;
    font-size: 2.5em;
}

#thirdJumbotron {
    /*background-color: #00ffce;*/
    background: url("/assets/backgrounds/rei_photo.png") no-repeat center top;
    height: 60vh;
    background-size: cover;
    overflow: hidden;
    position:relative;
    top:0;
    left:0;
}


#thirdJumbotron h1 {
    color: white;
    font-size: 3em;
}

#thirdJumbotron h3 {
    color: white;
}

#thirdJumbotron a {
    background: transparent;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    transition: all 0.6s ease;
}

#thirdJumbotron a:hover {
    background: white;
    opacity: 0.5;
    color: black;
}
        
#buttons .btn {
    font-family: ;
    font-size: 1.3em;
    background-color: white;
    border: 2px solid white;
    color: #2f55a8;
    padding: 10px 25px;
    font-weight: bold;
}

#buttons .btn:hover {
    border: 2px solid black;
}

#fourthJumbotron h1 {
    color: #234c8e;
    font-size: 4.5em;
}

#fourthJumbotron h3 {
    color: #234c8e;
    font-family: ;
    font-size: 2.2em;
}

#fourthJumbotron img {
    width: 300px;
    height: 300px;
}

#fifthJumbotron {
    background-color: #fefefe;
    padding: 5%;
}

#fifthJumbotron h4 {
    color: #1e1e1e;
    font-weight: bold;
}

#fifthJumbotron h1 {
    color: #1e1e1e;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Literata', Verdana, Geneva, Tahoma, sans-serif;
}

#fifthJumbotron .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30vw;
    margin-right: 0;
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Literata';
}
 
#fifthJumbotron .card .card-body {
    padding: 10% 10% 10% 10%;
}

#fifthJumbotron .card .card-img-top {
    transition: all 0.5s ease;
    cursor:pointer;
}

#fifthJumbotron .card .card-body .card-title {
    font-weight: bold;
    text-align: left;
}

#fifthJumbotron .card .card-body .card-text {
    text-align: left;
    color: grey;
    font-weight: normal;
    font-size: .9em;
}

#fifthJumbotron .card .card-img-top:hover {
    opacity: 0.8;
}

#fifthJumbotron .btn {
    background-color: #294a60;
    border-color: #294a60;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
}

#fifthJumbotron .btn:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

#resources p {
    font-size: 1.8em;
}

#resources h1 {
    color: #2f55a8;
}

#resources ul li {
    font-size: 1.5em;
    margin-bottom: 5px;
}

#footer {
    height: 90vh;
    background-color: white;
}

#footer p {
    font-size: 2em;
}

#bottomFooter {
    background-color: #1e1e1e;;
}

#getintouch {
    font-size: 30px;
    color:white;
    font-weight: bolder;
    width: 100%;
    text-align: center
}

#copyright {
    font-size: 16px;
    color: white;
    text-align: center
}

#emailusbtn {
    color:white;
    background-color: #00aeef;
    border: #00aeef;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder
}

@media (min-device-width : 200px) and (max-device-width : 767px) {
    html, body {
        font-size: 12px;
    }
    .navbar {
        margin-bottom: 0;
        border: 0;
        background-color: white;
    }  
    .navbar-brand img {
        height: 55px;
        width: 105px;
    }
    .jumbotron {
        font-size: 7px;
    }
    .display-4 {
        font-size: 14px;
    }
    #thirdJumbotron img {
        height: 300px;
        width: 200px;
    }
    #fourthJumbotron img {
        height: 150px;
        width: 150px;
    }
    #fifthJumbotron .card {
        width: 150px;
    }
    #fifthJumbotron .card .card-img-top {
        height: 200px;
    }
    #fifthJumbotron .btn {
        width: 65px;
        font-size: 8px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
    #bottomFooter {
        font-size: 12px;
    }
}